/**
 * @file
 * Block Styling
 */


.block /* Block wrapper */ {
  margin-bottom: 1.5em;
}

.block.first /* The first block in the region */ {
}

.block.last /* The last block in the region */ {
}

.block.odd /* Zebra striping for each block in the region */ {
}

.block.even /* Zebra striping for each block in the region */ {
}

h2.block-title /* Block title */ {
}

.block .content /* Block's content wrapper */ {
}

#block-aggregator-category-1 /* Block for the latest news items in the first category */ {
}

#block-aggregator-feed-1 /* Block for the latest news items in the first feed */ {
}

#block-block-1 /* First block created with "Add block" link */ {
}

#block-blog-recent /* "Recent blog posts" block */ {
}

#block-book-navigation /* "Book navigation" block for the current book's table of contents */ {
}

#block-comment-recent /* "Recent comments" block */ {
}

#block-forum-active /* "Active forum topics" block */ {
}

#block-forum-new /* "New forum topics" block */ {
}

#block-locale-language /* Language switcher block */ {
}

#block-menu-menu-NAME /* Custom menu block  */ {
}

#block-node-recent /* "Recent content" block */ {
}

#block-node-syndicate /* "Syndicate" block for primary RSS feed; see also page.css's .feed-icon */ {
}

#block-poll-recent /* "Most recent poll" block */ {
}

#block-profile-author-information /* "Author information" block for the profile of the page's author */ {
}

#block-search-form /* "Search form" block */ {
}

#block-shortcut-shortcuts /* "Shortcuts" block */ {
}

#block-statistics-popular /* "Popular content" block */ {
}

#block-system-main-menu /* "Main menu" block */ {
}

#block-system-management /* "Management" block for Drupal management menu */ {
}

#block-system-navigation /* "Navigation" block for Drupal navigation menu */ {
}

#block-system-user-menu /* "User menu" block for Drupal user menu */ {
}

#block-system-help /* "System help" block */ {
}

#block-system-main /* "Main page content" block */ {
}

#block-system-powered-by /* "Powered by Drupal" block */ {
}

#block-user-login /* "User login form" block */ {
}

#block-user-new /* "Who's new" block for a list of the newest users */ {
}

#block-user-online /* "Who's online" block for a list of the online users */ {
}

/* CoderDojo custom */

.block.block-superfish {
    margin-bottom: 0em; /* prevents the superfish menus appearing below the nav region */
}

#block-search-form /* "Search form" block */ {
 float: right; /* right aligns the search block */
 vertical-align: middle;
 margin-top: 0.1em;
 margin-right: 1em;
}

.publications-block {
  background-color: pink; 
}

.publications-block select {
  background-color: yellow;
  width: 100px;
  font-family: Tahoma, Verdana, "DejaVu Sans", sans-serif;
}

.publications-block select option {
  background-color: blue;
  font-family: Tahoma, Verdana, "DejaVu Sans", sans-serif;
}

/* Comment block right column */

#block-comment-recent ul {
  list-style-type:none; 
}

#block-comment-recent ul {
  margin-top: 0;
}

#block-comment-recent li {
  display: block;
  margin-top: 0.5em;
}

#block-comment-recent ul, #block-comment-recent li {
  margin-left: 0;
  padding-left: 0;
}

/* Mini TOC right column and .publist is the left column list of manuals*/
.block-menu, .publist .views-summary, .mini-toc-entry, #block-cck-blocks-field-index-entries .field-item {
  margin-top: 0.5em !important;
  font-family: Arial, Helvetica, "Nimbus Sans L", sans-serif;
}

/* Mini TOC right column and .publist is the left column list of manuals*/
p.selected {
    background-color: #FFFFFF;
    padding-right:12px;
    padding-left: 10px;
    margin-left: -18px;
    padding-bottom: 3px;
    padding-top: 2px;
    
}

p.selected a, p.selected a:visited {
   text-decoration:none !important;
   color: #3E3E29 !important;
}

/* Main TOC */
.view-id-user_guides .views-field, .view-id-user_guides .views-summary {
  margin-top: 0.7em;
  /* font-family: Calibri, Arial, Helvetica, "Nimbus Sans L", sans-serif; */

}
.view-id-user_guides .views-field a {
 }

h2.block-title
{
  font-size: 1.2em;
}

.tabledrag-toggle-weight-wrapper {
text-align: left;
font-size: 0.8em;
}

#draggableviews-table-flag_pinboard-block_1 th {
border-bottom: 1px solid #CCC;
}

.pinboard-view .form-actions {
  display: none;
  visibility: hidden;
}




