/* This file overrides the faux-column backgrounds */

body {
	background-color: #58697A !important;

			}

		
#page {
	background-color: #58697A !important;
	    background: url(../images/splash.jpg) no-repeat 50% 0 !important;

	}
	
#zone-user-wrapper {
	background-color: #58697A !important;
    background: none !important;
			}

#zone-branding-wrapper {
	background-color: #58697A !important;
    background: none !important;
    background-size: 1024px Auto;


}

#zone-preface-wrapper {
    	background: none !important;
    			background-color: none !important;
}

#zone-preface {
    background: none !important;
    background-color: none !important;
}
			
#zone-menu-wrapper {
		background-color: #58697A !important;
		background: none !important;
		border-bottom: none !important;
		box-shadow: none !important;
		-webkit-box-shadow: none !important;
		-moz-box-shadow: none !important;
		}
			
#zone-menu {
    	background: none !important;
		border-bottom: none !important;
		box-shadow: none !important;
		-webkit-box-shadow: none !important;
		-moz-box-shadow: none !important;
		}
			
.navigation {
		float:right !important;
		margin-top: 3em;
		margin-bottom: 3em;
		margin-right: 10em;
		font-family: "Lucida Sans'", "Lucida Sans Unicode", Arial, "Helvetica Neue", Helvetica, sans-serif;
		font-size: 0.8em;
		font-weight: lighter;
		}
				
			#region-menu a {
				font-weight: bold;
				color: white;
				text-decoration: none;
				font-size: 1em;
				}
		    #region-menu li:hover,
			#region-menu a:focus,
			#region-menu a:hover,
			#region-menu a:active,
			#region-menu li li {
				  color: white;
				}

#zone-content-wrapper {
	
background-color: white !important;				}
				
				
#zone-content {
	background-color: none !important;
    background: none !important;
    border: none !important;
    box-shadow: none !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	}
	
h1 {
	font-family: "Lucida Sans'", "Lucida Sans Unicode", Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 3em;
	font-weight: 100;
    margin-top: 0em;
    margin-bottom: 0em;
    color: white;
    text-align: left;
    margin-left: 0em;
    margin-right: 6em;
    border: none !important;
	}
	
	.block-title {visibility: hidden;}
			
h2 {
	font-family: "Lucida Sans'", "Lucida Sans Unicode", Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 2em;
	font-weight: lighter;
    margin-top: 0em;
    margin-bottom: 0em;
    color: #434343;
    text-align: center;
	}
	
p {
	text-align: left;
    font-family: "Lucida Sans'", "Lucida Sans Unicode", Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 1.2em;
	font-weight: lighter;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0em;
    margin-right: 5em;
	}
	
.sub-strapline {
    color: white;
    line-height: 1.5em;

    margin-bottom: 10em;
	}
    		
.splashbuttons {
	margin-top: 3em;
	text-align: center;
	margin-left: 10px;
  margin-right: 10px;
	}

a.splashbutton, a.splashbutton:visited {  
	background-color: #89A3BC;
	max-width:90%;height:auto;
	padding:1em;  
	text-align:center;  
	border:1px solid #89A3BC;  
	font-weight:bold;  
	text-transform:uppercase;  
	border-radius: 5px;  
	-moz-border-radius: 5px;  
	-webkit-border-radius: 5px;  
	color:#FFF;  
	text-decoration: none;  
	margin: 1em;
}  
  
a.splashbutton:hover {
	background-color: #2375CB;
	border-color:#2375CB;
	text-decoration: none !important;  
}  
  
a.splashbutton:active {  
	background-color: #2375CB;
	border-color:#2375CB;
}

