/* This file will hold styles that are loaded using the same media query as the wide grid. */
body {
	}
	#zone-user-wrapper {
			}
	#zone-branding-wrapper {
			}
			.logo-img
			{
				background-image:none;			
			}
			#logo
			{
				height: auto;
				display:inherit;
				visibility:visible;
			}
	#zone-menu-wrapper {
			}
	#zone-header-wrapper {
			}
	#zone-preface-wrapper {
			}
	#zone-content {
			background: url(../images/faux-columns-1200-page.png) repeat-y 50% 0;
			}
	.section .zone-wrapper {
			}
		#zone-content-wrapper {
		padding-top: 3em;
		padding-bottom: 3em;
		}
			#region-content {
				}
				#region-content img {
					  	width: inherit;
					  	height: inherit;
					}
				.region-content .region-inner {
					}
			/* This is the padding around the sidebar-first content */
			.region-sidebar-first {
				}
				/* This is the actual sidebar-first content */
				.region-sidebar-first .region-inner {
					}
			/* This is the padding around the sidebar-second content */
			.region-sidebar-second {
				}
				/* This is the actual sidebar-second content */
				.region-sidebar-second .region-inner {
					}
	#zone-postscript-wrapper {
			}
	#zone-footer-wrapper {
			}
