body {
    font-family: "Lucida Grande", "Lucida Sans'", "Lucida Sans Unicode", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 0.9em;
    line-height: 1.3em;
    color: #303030;
}

.field-name-body, .book-navigation {
    margin-bottom: 1em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Lucida Grande", "Lucida Sans'", "Lucida Sans Unicode", Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin-top: 1em;
    margin-bottom: 0em;
    color: #202020;
}

code {
    font-family: Consolas, "Lucida Console", "Courier New", Monaco, monospace;
    color: #BD1042;
}

h1 {
   font-size: 1.6em;
   line-height: 1.2em;
   margin-top: 0.4em;
   margin-bottom: 0.1em;
   color: #121212;
}

/* Make it a bit smaller for block headers */
h2.block-title, h2.node-title {
   border-top: 1px solid #C0C0C0;
   font-size: 1.2em;
   margin-bottom: 0.5em;
   margin-top: 1em;
   padding-top: 0.5em;
}

h2 {
   color: #121212;
   font-size: 1.2em;
   padding-top: 0.6em;
}

h3 {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 1em;
    color: #666666;
    }

h4 {
   font-size: 1em;
    }

h5 {
   font-size: 1em;
}

h6 {
   font-size: 1em;
}


p, li {
	margin-top:1em;
	margin-bottom: 0em;
}

blockquote {
	margin-top:1em;
	margin-bottom: 1em;
	margin-left: 1em;
	margin-right: 1em;
	font-style: italic;
}


iframe {
	margin-top:1em;
	margin-bottom: 0em;
}

/* News item credits e.g. Thu, 04/18/2013 - 15:06 -- alice */ 

div.submitted {
	margin-top:1em;
	margin-bottom: 1em;
}

/* Text links */  

a {
  color: #0088CC;
  text-decoration: none !important;;
}

a:hover {
  color: #005580;
  text-decoration: underline !important;;
}

a:visited {
  color: #005580;
  text-decoration: none !important;
}

a:active {
  color: #000000;
  text-decoration: underline !important;;
}

table {
 margin-top: 0.5em;
 border-collapse: collapse;
}

td, th {
 padding-top: 0.5em ;
 padding-bottom: 0.5em ;
 padding-left: 0.5em ;
 padding-right: 0.5em ;
}

.exclamation {
font-size: 200%;	
}

/* Block buttons */

a.highlightbutton, a.highlightbutton:visited {  
  display: block;
	background-color: #89A3BC;
	max-width:90%;height:auto;
	padding:1em;  
	text-align:center;  
	border:1px solid #89A3BC;  
	font-weight:bold;  
	text-transform:uppercase;  
	border-radius: 5px;  
	-moz-border-radius: 5px;  
	-webkit-border-radius: 5px;  
	color:#FFF;  
	text-decoration: none;  
	margin: 1em;
}  
  
a.highlightbutton:hover {
	background-color: #2375CB;
	border-color:#2375CB;
	text-decoration: none !important;  
}  
  
a.highlightbutton:active {  
	background-color: #2375CB;
	border-color:#2375CB;
}
