/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

body {
  background-color: #121212;
	}
		
#page {
	background: #E1E1E1;
	}
	#zone-user-wrapper {
	background-color: #58697A !important;
		}
		#zone-user {
			padding-top: 1em;
			}
				#region-user-first {
					}
				#region-user-second {
					}
	#zone-branding-wrapper {
			background: url(../images/header.jpg) no-repeat 50% 0 !important;
			background-color: #58697A !important;	
		}
		#zone-branding {
			padding-top: 1em;
			padding-bottom: 1em;
			}
			
			#logo
			{
				height: 40px;
				visibility:visible;
			}
			
			#region-branding {
				}
	#zone-menu-wrapper {
			background-color: #F9F9F9;
			border-bottom: 0.2em solid #D4D4D4;
			box-shadow: 0em 0.3em 1em #D4D4D4;
			-webkit-box-shadow: 0em 0.3em 1em #D4D4D4;
			-moz-box-shadow: 0em 0.3em 1em #D4D4D4;
		}
		#zone-menu {
			}
			#region-menu {
				}
				.region-menu-inner {
					padding-top: 0.7em;
					padding-left: 0em;
					padding-right: 0.5em;
					padding-bottom: 0.5em;
					}			
			#region-menu a {
				font-weight: bold;
				color: #121212;
				text-decoration: none;
				font-size: 1em;
				}
		    #region-menu li:hover,
			#region-menu a:focus,
			#region-menu a:hover,
			#region-menu a:active,
			#region-menu li li {
				  color: #0088CC;
				}
				
			#region-search {
				}
				.region-search-inner {
					padding-top: 4pt;
					padding-left: 4pt;
					padding-right: 4pt;
					padding-bottom: 5pt;
					float: right;
					}	
	#zone-header-wrapper {
		}
		#zone-header {
			}
			#region-header-first {
				}
			#region-header-second { 
				}
	#zone-preface-wrapper {
		}
		#zone-preface {
			}
			#region-preface-first {
				}
			#region-preface-second {
				}
			#region-preface-third {
				}
	#zone-content-wrapper {
		padding-top: 0em;
		padding-bottom: 0em;
		}
		#zone-content {
		border: 2px solid #D4D4D4;
		box-shadow: 0 0 5em #D4D4D4;
		-webkit-box-shadow: 0 0 5em #D4D4D4;
		-moz-box-shadow: 0 0 5em #D4D4D4;
		background-color: #FFFFFF;
			}
			#breadcrumb {
				}
			#messages {
				}
			#region-content {
				}
				/* The --10 is added to the selectors on the search results page */				
				.region-content .region-inner {
					margin: 10px;
					padding: 10pt;
					}
					#region-content img {
					    max-width:100%;height:auto;
					}
					/* Logos on the supporters page */
					#region-content img.supporter-logo {
					    max-height:66px;width:auto;
					}
					
			/* This is the padding around the sidebar-first content */
			.region-sidebar-first {
				background-color: #F1F1F1;
				padding-top: 2em;
				padding-bottom: 2em;
				}
				/* This is the actual sidebar-first content */
				.region-sidebar-first .region-inner {
					margin: 0px;
					padding-top: 10px;
					padding-right: 0px;
					padding-bottom: 10px;
					padding-left: 10px;					
					}
			/* This is the padding around the sidebar-second content */
			.region-sidebar-second {
				}
				/* This is the actual sidebar-second content */
				.region-sidebar-second .region-inner {
					margin: 0px;
					padding-top: 10px;
					padding-right: 10px;
					padding-bottom: 10px;
					padding-left: 0px;
					}
	#zone-postscript-wrapper {
		}
		#zone-postscript {
			}
			#region-postscript-first {
				}
			#region-postscript-second {
				}
			#region-postscript-third {
				}
			#region-postscript-fourth {
				}
	#zone-footer-wrapper {
			background-color: #444444;
			}
		#zone-footer {
				padding-top: 2em;
				padding-bottom: 2em;
			}
			#region-footer-first {
			}
				.region-footer-first-inner {
					padding-top: 10pt;;
					padding-left: 4pt;
					padding-right: 4pt;
					padding-bottom: 10pt;
					color: #F9F9F9;
					font-weight: bold;
					text-decoration: none;
					font-size: 0.8em;
					}
				#region-footer-first a {
					color: #8BE2FF;
					}
			#region-footer-second {
			}				
				.region-footer-second-inner, #region-footer-second a {
					padding-top: 10pt;;
					padding-left: 4pt;
					padding-right: 4pt;
					padding-bottom: 10pt;
					color: #8BE2FF;
					font-weight: bold;
					text-decoration: none;
					font-size: 0.8em;	
					}
				#region-footer-second a {
					color: #8BE2FF;
					}

